<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Find the Lighthouse</title>
    <style>
        .container-center-panel{
            padding-left: 150px;
            padding-right: 150px;
            padding-top: 50px;
        }
        .container-panel-buttons{
            alignment: center;
            padding-top: 50px;
        }
        .title-button{
            width: 110px;
        }
        .panel-formatting{
            padding-top: 30px;
        }
    </style>
</head>
<body>
{% if logged_in %}
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{ username }}
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Preferences</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
    </ul>
  </div>
{% else %}
    <button type="button" class="btn btn-default" aria-label="Left Align">
        Login
    </button>
{% endif %}
<div class="container-center-panel">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="username, meetup, interest..." aria-describedby="basic-addon2">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
        </span>
    </div>
    <div class="container-panel-buttons text-center">
        <a href="{% url "meetup" %}"><button id="meetups" type="button" class="btn btn-default btn-lg title-button">Meetups</button></a>
        <a href="{% url "people" %}"><button id="people" type="button" class="btn btn-default btn-lg title-button">People</button></a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4 align="center">Happening Now</h4>
        </div>
        <div class="col-sm-6">
            <h4 align="center">Who's New</h4>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel-formatting">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Meetup</h3>
                                </div>
                                <div class="panel-body">
                                    We're playing soccer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel-formatting">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Meetup</h3>
                                </div>
                                <div class="panel-body">
                                    We're playing soccer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>